<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Renkai Internacional</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
</head>

<body id="root">
  <header>
    <div class="logo">
      <img src="/logo.png" alt="Renkai Internacional">
      <a href="/"><span>Renkai Internacional</span></a>
    </div>
    <nav>
      <ul>
        <li><a href="/quem-somos">Sobre nós</a></li>
        <li><a href="/#contact">Contato</a></li>
        <li><a href="/#faq">Ajuda</a></li>
        <li><a href="/#testimonial">Depoimentos</a></li>
        <li><a href="/nossa-missao">Nossa filosofia</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <section class="form-section">
      <div class="container">
        <h1>O Caminho do Buscador</h1>
        <h2>Sua Jornada de Transformação e Propósito</h2>
        <p>
          Você está diante de algo que não é apenas mais um curso — é uma plataforma de evolução espiritual e
          filosófica
          que guiará você em uma jornada profunda de 33 níveis de transformação. Este é o <strong>Caminho do
            Buscador</strong>,
          um passo a passo criado para aqueles que buscam um propósito maior, um significado verdadeiro para
          suas vidas.
        </p>

        <h2>O que é O Caminho do Buscador?</h2>
        <p>
          O <strong>Caminho do Buscador</strong> é uma plataforma de aulas online, estruturada para integrar o
          estudo e a prática
          de forma harmoniosa. Você precisará dedicar pelo menos duas horas por semana para estudo, além de
          realizar práticas
          diárias específicas a cada nível, alinhando teoria e prática para transformar sua mente e coração.
        </p>

        <p>
          Mas entenda: isso não é um curso. É uma jornada de evolução intelectual e espiritual, que conduz
          você por um caminho
          de desenvolvimento gradual. São <span class="highlight">33 níveis</span> representados por mantos de
          diferentes cores,
          simbolizando o avanço na compreensão e transformação interior.
        </p>
      </div>
    </section>


  </main>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">

        <h3>
          Renkai Internacional
        </h3>
        <p>
          Torne-se um bodhisattva autorrealizado despertando a
          felicidade e paz interna sem depender de nenhum
          fator externo através do desenvolvimento da bodichita.

        </p>
      </div>
      <div class="footer-links">
        <div>
          <h4>Institucional</h4>
          <ul>
            <li><a href="#">O que é a Igreja Renkai</a></li>
            <li><a href="#">Nosso Fundador</a></li>
            <li><a href="#">Nossa Trajetória</a></li>
            <li><a href="#">Nossa Crença</a></li>
            <li><a href="#">Nossa Visão</a></li>
            <li><a href="#">Solos Sagrados</a></li>
            <li><a href="#">Escritos Divinos</a></li>
          </ul>
        </div>
        <div>
          <h4>Endereços</h4>
          <ul>
            <li><a href="#">Unidades no Brasil</a></li>
            <li><a href="#">Unidades no Exterior</a></li>
          </ul>
        </div>
        <div>
          <h4>Blog</h4>
          <h4>Experiências de Fé</h4>
          <h4>Culto Mensal</h4>
          <ul>
            <li><a href="#">Ensinamento do Culto Mensal</a></li>
            <li><a href="#">Experiência do Culto Mensal</a></li>
            <li><a href="#">Palestra do Culto Mensal</a></li>
            <li><a href="#">Agenda Culto Mensal</a></li>
          </ul>
        </div>
        <div>
          <h4>Fale Conosco</h4>
          <ul>
            <li><a href="#">Fale Conosco do Brasil</a></li>
            <li><a href="#">Fale Conosco do Exterior</a></li>
            <li><a href="#">Perguntas Frequentes</a></li>
            <li><a href="#">Canais Oficiais</a></li>
            <li><a href="#">Encontre uma Unidade</a></li>
          </ul>
          <h4>Política de Privacidade</h4>
          <h4>Termos de Uso</h4>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>SOBRE A LGPD, ENTRE EM CONTATO: <a href="mailto:dpo@renkai.org.br">dpo@renkai.org.br</a></p>
      <p>&copy; 2025 Renkai Internacional - Todos os direitos
        reservados</p>
      <div class="social-icons">
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i> </a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@renkai.internacional"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </footer>

  <script src="/index.js"></script>
</body>

</html>