<html lang="pt-BR">
  <section class="form-section">
    <div class="banner">
        <img src="https://files.mormonsud.net/wp-content/uploads/2018/06/templo001.jpg" alt="Banner Image">
        <div class="title">Caminho<br>do Buscador</div>
    </div>
  
    <div class="container">
      
     <h2>Sua Jornada de Transformação e Propósito</h2> 
      <p>
        Você está diante de algo que não é apenas mais um curso — é uma plataforma de evolução espiritual e
        filosófica
        que guiará você em uma jornada profunda de 33 níveis de transformação. Este é o <strong>Caminho do
          Buscador</strong>,
        um passo a passo criado para aqueles que buscam um propósito maior, um significado verdadeiro para
        suas vidas.
      </p>

      <h2>O que é O Caminho do Buscador?</h2>
      <p>
        O <strong>Caminho do Buscador</strong> é uma plataforma de aulas online, estruturada para integrar o
        estudo e a prática
        de forma harmoniosa. Você precisará dedicar pelo menos duas horas por semana para estudo, além de
        realizar práticas
        diárias específicas a cada nível, alinhando teoria e prática para transformar sua mente e coração.
      </p>

      <p>
        Mas entenda: isso não é um curso. É uma jornada de evolução intelectual e espiritual, que conduz
        você por um caminho
        de desenvolvimento gradual. São <span class="highlight">33 níveis</span> representados por mantos de
        diferentes cores,
        simbolizando o avanço na compreensão e transformação interior.
      </p>
    </div>
   </section>
</html>
