<section id="testimonial" class="testimonial-section">
    <h2>Depoimentos</h2>
    <div class="testimonial-slider">
        <div class="testimonial active">
            <p>"Achei genial a metodologia das acumulações, dá
                realmente para ver nossa evolução praticando,
                isso me mantém motivado ao mesmo tempo que percebo
                os efeitos na minha mente a cada ciclo e
                troca de Manto."</p>
            <div class="author">Maria Clara Fonseca, 27 anos, Belo
                Horizonte - MG</div>
        </div>
        <div class="testimonial">
            <p>"Sou jovem, mas sempre me senti perdida. Na Renkai,
                encontrei uma filosofia que me dá direção. As
                práticas de shamatha e do mantra de Chenrezig me
                ajudaram a controlar minhas emoções e
                finalmente encontrei respostas para perguntas que
                sempre permaneciam vazias."</p>
            <div class="author">Juliana Reis Barbosa, 19 anos, São
                Paulo - SP</div>
        </div>
        <div class="testimonial">
            <p>"Minha vida estava desmoronando emocionalmente quando
                encontrei a Renkai. Hoje, depois de fazer
                parte desse movimento tão lindo, consigo lidar com
                meus próprios desafios e ajudar os outros.
                Até minha vida financeira mudou, com maior clareza
                para tomar decisões."</p>
            <div class="author">Cláudia Lima Torres, 48 anos, Manaus
                - AM</div>
        </div>

        <div class="testimonial">
            <p> "Participar da Renkai foi a melhor decisão que
                tomei. As práticas me ensinaram a ter compaixão e
                paciência, o que transformou meu casamento. Nunca
                imaginei que a espiritualidade pudesse ser tão
                prática."</p>
            <div class="author">Rafael Mendes Costa, 32 anos,
                Florianópolis - SC</div>
        </div>

        <div class="testimonial">
            <p> "Na Renkai, encontrei a força para lidar com a perda
                de um ente querido. As meditações e as
                compreensões que tive com os ensinamentos que eles
                transmitem me deram resiliência e me
                ensinaram a valorizar a vida de uma forma mais
                profunda."</p>
            <div class="author">Beatriz Araújo Silva, 45 anos,
                Goiânia - GO</div>
        </div>

        <div class="testimonial">
            <p> "Lutava com depressão há anos e nenhuma abordagem
                parecia ajudar. Na Renkai, encontrei um passo
                a passo claro e eficaz. A prática Renkai mudou minha
                percepção sobre o sofrimento, e o apoio da
                irmandade espiritual me trouxe esperança real".</p>
            <div class="author">Larissa Andrade Costa, 36 anos,
                Fortaleza - CE</div>

        </div>
        <div class="testimonial">
            <p> "Eu vivia em constante ansiedade, incapaz de
                encontrar paz, todo dia parecia um peso. As
                práticas Renkai trouxeram calma e clareza à minha
                mente. Hoje, não apenas superei a ansiedade,
                mas também descobri uma nova razão para viver." </p>
            <div class="author">Ricardo Lopes Ferreira, 40 anos,
                Campinas - SP</div>
        </div>

        <div class="testimonial">
            <p> "Me sentia perdida em meio a tantas religiões e
                filosofias. Quando conheci a Renkai, tudo mudou.
                Eles oferecem um caminho estruturado, sem dogmas,
                mas com profundo significado. Pela primeira
                vez na vida, sinto que pertenço a algo maior." </p>
            <div class="author">Ana Soares Lima, 30 anos, Brasília -
                DF </div>
        </div>

        <div class="testimonial">
            <p> "Passei décadas buscando respostas para o propósito
                da vida. A Renkai me mostrou que o caminho
                não precisa ser complicado. Com passos claros e
                práticas acessíveis, encontrei equilíbrio,
                felicidade e uma verdadeira familia espiritual."</p>
            <div class="author">Marcos Antônio Silva, 51 anos, Belém
                - PA</div>
        </div>

        <div class="testimonial">
            <p> "A sobrecarga de informações me deixava confusa e
                sem rumo. A Renkai me acolheu e me deu um
                sistema claro para evoluir. Hoje, sei onde estou e
                para onde quero ir, com serenidade e apoio de
                pessoas que compartilham da mesma busca."</p>
            <div class="author">Patrícia Almeida Campos, 28 anos,
                Vitória - ES</div>
        </div>

        <div class="testimonial">
            <p> "Fui atraído pela promessa de um caminho espiritual
                estruturado e fiquei impressionado com a
                profundidade das práticas. A comunidade da Renkai me
                deu forças para superar crises emocionais e
                encontrar alegria no cotidiano."</p>
            <div class="author">Leonardo Matos Pereira, 47 anos,
                Natal - RN</div>
        </div>
    </div>
</section>

    <div class="menu-container">
       <div class="menu-item">
            <a href="/caminho-do-buscador">Caminho<br>do buscador</a>
        </div>
        <div class="menu-item">
            <a href="/um-santuario-para-a-transformacao-espiritual">Um Santuário<br>para a Transformação<br>Espiritual</a>
        </div>
        <div class="menu-item">
            <a href="/perguntas-frequentes">Perguntas<br>Frequentes</a>
        </div>
        <div class="menu-item">Contato</div>
    </div>


<section class="invite">
    <div class="cta">
        <h2>Transforme Sua Vida com a Plataforma Renkai</h2>
        <p>Convidamos você a dar o primeiro passo em sua jornada espiritual. Acesse conteúdos exclusivos,
            práticas guiadas e suporte para sua evolução no caminho Mahayana.</p>
        <button
            onclick="location.href='https:\/\/hotmart.com/pt-br/marketplace/produtos/o-caminho-do-buscador/J95737266S'">Assine
            Agora</button>
    </div>

</section>



<section class="form-section blog">
    <div class="blog-container">
        <h1 class="blog-title">Sabedoria no Dia a Dia</h1>
        <p class="blog-description">Publicações regulares sobre práticas budistas, reflexões espirituais e
            histórias de superação dos praticantes.</p>

        <div class="posts">
            <div class="post">
                <img src="https://s2-ge.glbimg.com/ldphEVfFQRBycj2UI9xq_UQWIwY=/0x0:1258x834/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/h/w/HMAr8YRVud7esJTrS1PQ/meditacao.jpg"
                    alt="Post 1">
                <div class="post-content">
                    <h2 class="post-title">Meditação</h2>

                </div>
            </div>
            <div class="post">
                <img src="https://mudrassignificado.com.br/wp-content/uploads/2022/01/istockphoto-1300474227-612x612-1.jpg"
                    alt="Post 2">
                <div class="post-content">
                    <h2 class="post-title">Práticas Mahayana</h2>

                </div>
            </div>
            <div class="post">
                <img
                    src="https://enkibook.com.br/wp-content/uploads/2024/01/DALL%C2%B7E-2024-01-03-10.38.23-A-panoramic-wide-angle-representation-of-the-Wheel-of-Samsara-a-key-concept-in-Buddhist-and-Hindu-philosophy.-The-wheel-is-elaborately-detailed-wit.webp">
                <div class="post-content">
                    <h2 class="post-title">Reflexões sobre o Samsara</h2>

                </div>
            </div>
            <div class="post">
                <img src="https://jungnapratica.com.br/wp-content/uploads/2016/09/casal.-post.jpg" alt="Post 1">
                <div class="post-content">
                    <h2 class="post-title">Relações amorosas</h2>

                </div>
            </div>
            <div class="post">
                <img src="https://dsop.com.br/wp-content/uploads/2024/01/62e4c7cadd3aacce450cf14c_vida-financeira.jpeg"
                    alt="Post 1">
                <div class="post-content">
                    <h2 class="post-title">Vida financeira</h2>

                </div>
            </div>
            <div class="post">
                <img src="https://innovia.com.br/blog/wp-content/uploads/2017/03/desenvolva-o-seu-equilibrio-emocional-na-vida-pessoal-e-no-trabalho.jpeg"
                    alt="Post 1">
                <div class="post-content">
                    <h2 class="post-title">Vida emocional</h2>

                </div>
            </div>
        </div>
    </div>
</section>



<section id="contact" class="form-section contact">
    <h2>Contato</h2>

    <h3>Conecte-se com a Renkai</h3>
    <p>Para dúvidas, sugestões e suporte</p>

    <a href="#" class="contact-button">Entrar em contato</a>
</section>