<div class="section">
    <h2>A missão da Renkai</h2>
    <p>Um término de relacionamento, uma quebra de alianças, desemprego, falta de dinheiro ou simplesmente dores
        emocionais profundas que nem você sabe explicar. Tudo o que buscamos é reverter essas situações porque,
        no fundo, buscamos a felicidade. Então achamos que, se tudo der certo em nossa vida, se tudo sair como o
        esperado, então seremos felizes.</p>
    <p>Mas, na realidade, mesmo que tudo estivesse bem em sua vida agora, mesmo que realizasse todos os seus
        desejos exatamente como acha que quer, depois de um tempo, a felicidade com essas conquistas iria sumir.
        E então você estabeleceria novos planos, novas metas, tudo para tentar manter migalhas de alguma
        felicidade interna através da conquista de coisas externas.</p>
    <p>A mídia e a sociedade nos manipulam o tempo todo, vendendo sonhos, objetos, conquistas e realizações de
        desejos com a falsa promessa de que, quando obtivermos aquilo, aí então seremos felizes.</p>
</div>

<div class="section">
    <h2>Nossa Filosofia (A jornada do bodhisattva e libertação do sofrimento)</h2>
    <p>Os ensinamentos da Renkai se baseiam no desenvolvimento das 5 energias internas, que denominamos 5 lungs
        ou 5 elementos: éter, ar, fogo, água e terra. Tudo o que existe no universo, inclusive nosso corpo e
        mente, é constituído por esses elementos.</p>
    <p>Um exemplo prático dessa ativação é quando vemos um objeto ou pessoa na qual desejamos algo. Ao olhar
        para o objeto, nosso olhar brilha (ativação do elemento éter), e expandimos levemente a respiração
        (elemento ar). Após esse leve aquecimento, sentimos uma leve sensação de relaxamento que quase é
        imperceptível (elemento fogo). Depois desse relaxamento, sentimos uma estabilidade (elemento terra) e,
        em curto prazo, sentimos alegria e felicidade.</p>
    <p>Essa sensação, no entanto, não dura. Por isso, buscamos outros objetos, metas e conquistas. Essa é a
        verdadeira liberação: sair da escravidão desses desejos e perceber que tudo está dentro de nós.</p>
</div>