<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renkai Internacional</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
</head>

<body id="root">
    <header>
        <div class="logo">
            <img src="/logo.png" alt="Renkai Internacional">
            <a href="/"><span>Renkai Internacional</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/quem-somos">Sobre nós</a></li>
                <li><a href="/#contact">Contato</a></li>
                <li><a href="/#faq">Ajuda</a></li>
                <li><a href="/#testimonial">Depoimentos</a></li>
                <li><a href="/nossa-missao">Nossa filosofia</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section class="form-section">

            <h1>Princípios da Renkai</h1>

            <div class="container">
                <div class="reino">
                    <h3>Reino dos Deuses (Devas)</h3>
                    <p><strong>Emoção perturbadora:</strong> Orgulho</p>
                    <p><strong>Descrição interna:</strong> Representa a
                        busca pela perfeição, prazer e conforto
                        excessivos, levando à ignorância do sofrimento dos
                        outros. Quem vive neste estado tende a evitar
                        confrontar a dor ou mudanças, vivendo em uma bolha
                        de bem-estar ilusório.</p>
                    <p><strong>Visão psicológica:</strong> Pessoas nesse
                        estado podem se sentir superiores ou
                        invulneráveis, mas enfrentam dificuldades ao lidar
                        com perdas ou impermanência.</p>
                </div>

                <div class="reino">
                    <h3>Reino dos Semideuses (Asuras)</h3>
                    <p><strong>Emoção perturbadora:</strong> Ciúme e
                        inveja</p>
                    <p><strong>Descrição interna:</strong> Corresponde ao
                        desejo de competir e superar os outros,
                        motivado pela insegurança. A obsessão por
                        comparar-se aos outros e buscar vantagens perpetua o
                        conflito interno e externo.</p>
                    <p><strong>Visão psicológica:</strong> Pessoas nesse
                        estado têm dificuldade em apreciar suas
                        conquistas ou a felicidade alheia, vivendo em
                        constante tensão por sentir que algo está sendo
                        tirado delas.</p>
                </div>

                <div class="reino">
                    <h3>Reino Humano</h3>
                    <p><strong>Emoção perturbadora:</strong> Desejo e
                        apego</p>
                    <p><strong>Descrição interna:</strong> Marca um
                        equilíbrio entre sofrimento e prazer, tornando-se o
                        único reino onde a libertação é mais acessível.
                        Contudo, o apego aos prazeres sensoriais e à
                        busca de validação pode aprisionar a mente.</p>
                    <p><strong>Visão psicológica:</strong> Reflete o dilema
                        humano de buscar satisfação em objetos
                        externos, sem perceber que a verdadeira paz vem de
                        dentro.</p>
                </div>

                <div class="reino">
                    <h3>Reino dos Animais</h3>
                    <p><strong>Emoção perturbadora:</strong> Ignorância e
                        apatia</p>
                    <p><strong>Descrição interna:</strong> Este reino
                        simboliza uma existência dominada pela
                        sobrevivência instintiva, sem reflexão ou busca por
                        sentido mais profundo. É caracterizado por
                        medo, submissão e resistência à mudança.</p>
                    <p><strong>Visão psicológica:</strong> Pessoas nesse
                        estado tendem a repetir padrões inconscientes,
                        evitando desafios intelectuais ou emocionais,
                        vivendo em conformidade e ignorância.</p>
                </div>

                <div class="reino">
                    <h3>Reino dos Espíritos Famintos (Pretas)</h3>
                    <p><strong>Emoção perturbadora:</strong> Ganância e
                        insatisfação</p>
                    <p><strong>Descrição interna:</strong> Representa o
                        desejo insaciável que nunca encontra satisfação.
                        A fome e sede simbólicas refletem uma carência
                        emocional ou espiritual que não pode ser
                        preenchida externamente.</p>
                    <p><strong>Visão psicológica:</strong> Manifesta-se como
                        vícios, consumismo ou compulsões, onde a
                        pessoa sente um vazio constante, mesmo após obter o
                        que deseja.</p>
                </div>

                <div class="reino">
                    <h3>Reino dos Seres Infernais (Narakas)</h3>
                    <p><strong>Emoção perturbadora:</strong> Ódio e
                        raiva</p>
                    <p><strong>Descrição interna:</strong> É o estado mais
                        extremo de sofrimento, onde a mente está
                        consumida por dor, culpa e autopunição. Pode ser
                        associado a conflitos internos intensos ou
                        estados depressivos profundos.</p>
                    <p><strong>Visão psicológica:</strong> Quem está nesse
                        estado experimenta uma percepção distorcida
                        da realidade, projetando sofrimento e negatividade
                        sobre tudo e todos.</p>
                </div>
            </div>

        </section>

        <section class="form-section">
            <h2>Visão Geral e Reflexão Psicológica</h2>
            <h2>Os Seis Reinos</h2>

            <div class="content">
                <h1>Visão Geral e Reflexão Psicológica</h1>
                <h2>Os Seis Reinos</h2>
                <p>
                    Os seis reinos são, em última análise, projeções da
                    mente condicionada. Eles revelam como emoções
                    perturbadoras moldam a experiência da realidade e como
                    padrões mentais específicos podem criar
                    ciclos de sofrimento.
                    Psicologicamente, esses reinos nos convidam a refletir
                    sobre nossos estados internos e a reconhecer
                    que, ao transformar nossas emoções e percepções, podemos
                    transcender os ciclos do samsara e alcançar
                    maior liberdade e equanimidade.
                </p>
                <h2>5 Lungs (Elementos)</h2>
                <p>
                    Os cinco lungs tibetanos estão diretamente ligados aos
                    cinco elementos e às emoções negativas que
                    perpetuam os estados samsáricos dos seis reinos.
                    Eles refletem como as energias sutis se manifestam na
                    mente e no corpo, influenciando padrões de
                    comportamento e experiências de sofrimento.
                </p>
                <ul>
                    <li>
                        <h3>Prana do Coração (Elemento Espaço)</h3>
                        <p class="elemento">Emoção Negativa: Orgulho (Reino
                            dos Deuses)</p>
                        <p class="descricao">O desequilíbrio do espaço
                            resulta em dispersão mental e desconexão com a
                            realidade, nutrindo a ignorância sobre o
                            sofrimento dos outros e uma sensação de
                            superioridade.</p>
                    </li>
                    <li>
                        <h3>Prana Ascendente (Elemento Ar)</h3>
                        <p class="elemento">Emoção Negativa: Ciúme e inveja
                            (Reino dos Semideuses)</p>
                        <p class="descricao">O ar desequilibrado alimenta
                            inquietação, competição e comparação
                            constante, criando tensão e desejo de superar os
                            outros.</p>
                    </li>
                    <li>
                        <h3>Prana do Calor Metabólico (Elemento Fogo)</h3>
                        <p class="elemento">Emoção Negativa: Raiva e ódio
                            (Reino dos Seres Infernais)</p>
                        <p class="descricao">O desequilíbrio no fogo
                            intensifica impulsos destrutivos, emoções
                            negativas
                            e conflitos internos que consomem a clareza da
                            mente.</p>
                    </li>
                    <li>
                        <h3>Prana Onipresente (Elemento Água)</h3>
                        <p class="elemento">Emoção Negativa: Ganância e
                            insatisfação (Reino dos Espíritos Famintos)</p>
                        <p class="descricao">A água desequilibrada gera um
                            fluxo desordenado de emoções, perpetuando a
                            carência emocional, a insaciabilidade e a
                            incapacidade de encontrar satisfação.</p>
                    </li>
                    <li>
                        <h3>Prana Descendente (Elemento Terra)</h3>
                        <p class="elemento">Emoção Negativa: Ignorância e
                            apatia (Reino dos Animais)</p>
                        <p class="descricao">A terra em desequilíbrio
                            resulta em inércia, preguiça mental e falta de
                            percepção espiritual, mantendo a mente presa a
                            padrões instintivos e repetitivos.</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="form-section">
            <div>
                <h2>Bodichita</h2>
            </div>

            <section class="content">
                <article class="introduction">
                    <h2>O Que É Bodichita?</h2>
                    <p>
                        Dentro da <strong>Renkai</strong>, baseada nos
                        ensinamentos do Budismo Mahayana,
                        <strong>bodichita</strong> é o coração compassivo
                        que aspira à iluminação, não como um objetivo
                        pessoal,
                        mas para beneficiar todos os seres. É a verdadeira
                        razão de ser, o propósito último da
                        existência, que vai além
                        das buscas individuais e se conecta profundamente ao
                        bem-estar coletivo.
                    </p>
                </article>

                <article class="dimensions">
                    <h2>Duas Dimensões de Bodichita:</h2>
                    <div class="dimension">
                        <h3>Bodichita Relativa:</h3>
                        <p>
                            É o desejo profundo de aliviar o sofrimento e
                            trazer felicidade a todos os seres, cultivando
                            amor e compaixão
                            por meio de nossas ações e intenções.
                        </p>
                    </div>
                    <div class="dimension">
                        <h3>Bodichita Última:</h3>
                        <p>
                            Surge da compreensão da natureza vazia e
                            interdependente de todos os fenômenos, unida à
                            motivação altruísta
                            de libertar todos os seres do ciclo de
                            sofrimento.
                        </p>
                    </div>
                </article>

                <article class="conclusion">
                    <p>
                        Para aqueles que buscam o verdadeiro propósito da
                        vida, <strong>bodichita</strong> oferece uma
                        resposta clara: o propósito
                        não é apenas alcançar a felicidade pessoal, mas
                        expandir esse desejo para o benefício de todos
                        os seres. Na
                        <strong>Renkai</strong>, entendemos que o verdadeiro
                        propósito da vida é transcender o egoísmo e
                        alinhar nosso ser com a compaixão
                        universal, transformando a busca individual em um
                        caminho de iluminação compartilhada.
                        <strong>Bodichita</strong> é o alicerce
                        de todas as nossas práticas espirituais, o motor que
                        nos impulsiona a reconhecer a interconexão
                        de todos os seres e nos
                        torna agentes de transformação no mundo.
                    </p>
                </article>
            </section>

        </section>

        <section class="form-section">
            <div class="container">
                <h2>Liberação Espiritual</h2>

                <h3>O Que É Liberação Espiritual?</h3>
                <p>Dentro da Renkai, o objetivo principal é a liberação
                    espiritual, que representa a saída completa do samsara,
                    o ciclo interminável de nascimento, morte e
                    renascimento. Esse é o primeiro passo para alcançar a
                    iluminação completa. A liberação espiritual ocorre
                    quando o praticante se liberta das aflições mentais e
                    emocionais que mantêm a mente aprisionada aos seis
                    reinos samsáricos – os reinos de deuses, semideuses,
                    seres humanos, animais, espíritos famintos e
                    infernais.</p>
                <p>Ao atingir a liberação espiritual, a mente é libertada
                    dos lung desequilibrados, ou dos ventos sutis que,
                    quando desequilibrados, reforçam as emoções negativas
                    ligadas aos seis reinos. Por exemplo, o prana do coração
                    (espaço) pode nos manter presos ao orgulho e ao apego ao
                    status do reino dos deuses; o prana ascendente (ar) pode
                    gerar ciúmes no reino dos semideuses, enquanto o prana
                    do calor metabólico (fogo) alimenta a raiva do reino dos
                    seres infernais. O desequilíbrio da água e da terra, por
                    sua vez, perpetuam o sofrimento do reino dos espíritos
                    famintos e animais, respectivamente, por meio da
                    insatisfação e ignorância.</p>

                <h3>Diferença entre Liberação Espiritual e Iluminação
                    Completa</h3>
                <p>A liberação espiritual se refere à liberação do samsara,
                    um estado de libertação do ciclo de renascimento e
                    sofrimento, alcançado através da purificação das
                    aflições mentais e emocionais. Ao atingir a liberação, o
                    praticante não mais se vê preso às manifestações de
                    desejo, raiva, ignorância e apego que os seis reinos
                    representam. A liberação espiritual é uma paz profunda e
                    uma liberdade das emoções perturbadoras, mas não é o fim
                    da jornada. Ela é, na verdade, o primeiro passo na
                    jornada para a iluminação completa.</p>
                <p>A iluminação completa, por outro lado, é a realização
                    final de bodichita, quando o praticante não só se
                    liberta do samsara, mas alcança a sabedoria total e a
                    compaixão ilimitada. A iluminação completa é o estado de
                    um buda, onde há total transcendência do sofrimento,
                    compreensão perfeita da natureza vazia dos fenômenos, e
                    uma atuação plena e compassiva para beneficiar todos os
                    seres.</p>

                <h3>Conclusão</h3>
                <p>Na Renkai, o objetivo principal é alcançar a liberação
                    espiritual, que é a primeira etapa para a iluminação
                    completa. A liberação espiritual envolve a superação das
                    emoções negativas ligadas aos seis reinos samsáricos e o
                    equilíbrio dos lung, permitindo a transcendência do
                    sofrimento e o início de um caminho de transformação
                    espiritual. A iluminação completa é o estágio final
                    desse caminho, onde se atinge a sabedoria, compaixão e
                    liberdade total. A liberação espiritual é, portanto, o
                    primeiro passo fundamental em direção a um estado de paz
                    plena e o verdadeiro propósito de nossa prática na
                    Renkai.</p>
            </div>
        </section>

        <section class="form-section">
            <div class="container">
                <h2>Um Caminho Estruturado para a Libertação</h2>

                <h1>Os 33 Níveis de Avanço</h1>
                <p>Dentro da metodologia da Renkai, os 33 níveis de avanço
                    representam uma jornada estruturada de prática
                    espiritual. Cada nível simboliza uma etapa de
                    amadurecimento e aprofundamento no caminho da liberação
                    espiritual. Uma tradição marcante na Renkai é a troca
                    simbólica do manto, que ocorre conforme o praticante
                    avança por esses níveis, marcando a progressão e o
                    compromisso contínuo com o desenvolvimento
                    espiritual.</p>
                <p>Os ensinamentos são entregues de forma progressiva, passo
                    a passo, permitindo que os praticantes assimilem e
                    integrem cada lição antes de passar para a próxima. Essa
                    abordagem garante que a fundação espiritual seja sólida
                    e que cada nível de prática contribua para o crescimento
                    holístico do buscador.</p>

                <h2>Práticas Fundamentais</h2>

                <h3>Shamata</h3>
                <p>A prática de shamatha, dentro da Renkai, é uma técnica de
                    meditação focada na estabilização e pacificação da
                    mente. Ela está diretamente relacionada ao equilíbrio
                    dos 5 lungs (ou ventos), que são as energias sutis que
                    governam nossas emoções e estados mentais. Ao
                    estabilizar esses ventos, a prática de shamatha promove
                    uma mente serena e equilibrada, reduzindo as flutuações
                    emocionais que nos mantêm presos ao samsara – o ciclo de
                    sofrimento e renascimento.</p>
                <p>Cada um dos 5 lungs está associado a uma emoção negativa
                    que surge nos seis reinos samsáricos, e a estabilização
                    desses ventos permite a superação dessas emoções,
                    criando um espaço interno para a libertação
                    espiritual.</p>

                <h3>Dhyan</h3>
                <p>A prática de dhyana, dentro da Renkai, é uma meditação
                    profunda que visa desenvolver uma percepção direta da
                    realidade, além das palavras, conceitos e dos sentidos.
                    Ela permite que o praticante experimente a natureza
                    fundamental da mente e do mundo, cultivando uma
                    compreensão mais profunda da impermanência e da
                    vacuidade.</p>
                <p>Através dessa prática, a mente é purificada das
                    distrações e perturbadores mentais, abrindo o caminho
                    para a sabedoria e a realização espiritual. Grandes
                    mestres de várias tradições alcançaram a realização
                    completa através dessa prática, incluindo o Buda
                    Shakyamuni, Padmasambhava (Guru Rinpoche), Milarepa e,
                    na tradição zen, mestres como Dogen e Hakuin. Esses
                    mestres exemplificam como a prática de dhyana pode levar
                    à transformação radical da mente, resultando em
                    iluminação e liberdade do samsara.</p>
            </div>
        </section>

        <section class="form-section">
            <div class="container">
                <h2>Acumulação Mantrica</h2>

                <h1>O Verdadeiro Caminho da Transformação</h1>
                <p>Nos dias de hoje, é comum observar a popularidade dos
                    mantras sendo reduzida a uma "modinha". Muitas pessoas
                    experimentam diversos mantras, recitando-os de maneira
                    superficial, acreditando que, por si só, isso resolverá
                    seus problemas ou trará resultados imediatos. No
                    entanto, o poder real dos mantras vai muito além de uma
                    prática casual ou descompromissada.</p>
                <p>A essência da prática mantrica está na acumulação.
                    Recitar um mantra não é apenas um ato mecânico, mas um
                    caminho gradual e profundo que transforma a mente e
                    desperta o siddhi do mantra — o poder espiritual que
                    surge quando nos tornamos um com ele. O siddhi não é
                    algo externo ou mágico; é a experiência direta de
                    unidade com a energia do mantra, um estado em que ele
                    deixa de ser apenas som e passa a ser parte de quem
                    somos.</p>

                <h2>O Caminho da Acumulação</h2>

                <h3>100 Mil Recitações</h3>
                <p>Este é o primeiro estágio, onde começamos a familiarizar
                    a mente com o mantra e seus efeitos. A repetição
                    contínua purifica pensamentos e emoções mais densas,
                    criando um terreno fértil para transformações mais
                    profundas.</p>

                <h3>1 Milhão de Recitações</h3>
                <p>Aqui, a mente começa a se harmonizar mais profundamente
                    com o mantra. Neste ponto, o praticante percebe uma
                    conexão maior com a energia espiritual que o mantra
                    carrega, e mudanças significativas começam a ocorrer na
                    vida emocional e mental.</p>

                <h3>10 Milhões de Recitações</h3>
                <p>Este é o estágio onde o siddhi do mantra começa a
                    despertar. A prática constante dissolve gradualmente as
                    barreiras entre o praticante e o mantra, e os aspectos
                    mais sutis da mente são revelados.</p>

                <h3>100 Milhões de Recitações</h3>
                <p>O estágio mais avançado, reservado para os praticantes
                    dedicados e pacientes, que buscam a integração total com
                    o mantra. Neste ponto, o mantra se torna parte
                    intrínseca do praticante, transformando completamente
                    sua mente e visão de mundo.</p>
            </div>
        </section>

        <section class="form-section">
            <div class="container">
                <h2>Uma Jornada Gradual e Transformadora</h2>
                <p>A prática da acumulação mantrica não é um caminho rápido
                    ou fácil. É um processo disciplinado e gradual que
                    requer paciência, devoção e uma compreensão profunda do
                    propósito espiritual. Cada etapa nos aproxima da
                    realização do siddhi, e cada repetição nos convida a um
                    encontro mais íntimo com a verdadeira natureza da
                    mente.</p>
                <p>Portanto, recitar diversos mantras de maneira superficial
                    pode até trazer um conforto momentâneo, mas não resolve
                    questões profundas da mente e do espírito. O verdadeiro
                    poder está em persistir em um único mantra, acumulando-o
                    com dedicação e permitindo que ele transforme sua vida
                    de dentro para fora.</p>
                <p>Na Renkai, oferecemos orientação e apoio para aqueles que
                    desejam trilhar esse caminho, mostrando como cada etapa
                    pode revelar um novo nível de profundidade e significado
                    em sua jornada espiritual.</p>

                <h2>Tonglen</h2>
                <p><strong>Prática de compaixão que beneficia os
                        outros:</strong></p>
                <p>A prática de tonglen, dentro da Renkai, é uma poderosa
                    ferramenta para o desenvolvimento de compaixão e
                    bodichita. Ao focar na troca de energia com os outros,
                    ela nos permite transcender o ego e cultivar um profundo
                    senso de solidariedade e altruísmo, fundamentais para a
                    liberação espiritual. Através dessa prática, o
                    praticante aprende a transformar o sofrimento e as
                    dificuldades dos outros, desenvolvendo uma conexão
                    genuína com todos os seres, o que é essencial para o
                    desenvolvimento da verdadeira compaixão.</p>
                <p>Além do impacto interno, a prática de tonglen também tem
                    benefícios práticos no mundo. Ao cultivar a compaixão
                    genuína, o praticante se torna mais capaz de promover a
                    cura física e mental em seu entorno, seja por meio de
                    ações diretas ou ao oferecer apoio emocional e
                    energético. Essa prática ativa de ajuda aos outros, com
                    o coração voltado para o bem-estar coletivo, tem um
                    efeito transformador tanto para quem recebe quanto para
                    quem oferece. A eficácia dessa ação depende do nível de
                    avanço no caminho espiritual do praticante e do
                    desenvolvimento de sua compaixão e bodichita, sendo mais
                    poderosa à medida que o praticante se aproxima de uma
                    realização mais profunda e ampla da natureza da mente e
                    da realidade.</p>

                <h2>A Idealizadora</h2>
                <p><strong>Milena Martins:</strong> fundadora da Renkai
                    Internacional, é uma figura inspiradora cuja trajetória
                    e motivação deram origem a esse caminho espiritual. Com
                    uma história marcada por dedicação, estudos profundos e
                    prática intensa, Milena Martins construiu a Renkai como
                    um espaço para aqueles que buscam uma transformação
                    genuína. Sua visão e liderança têm guiado inúmeras
                    pessoas em sua jornada para a liberação espiritual e
                    iluminação, mostrando que a compaixão, o conhecimento e
                    a prática comprometida podem transformar vidas.</p>
            </div>
        </section>


    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">

                <h3>
                    Renkai Internacional
                </h3>
                <p>
                    Torne-se um bodhisattva autorrealizado despertando a
                    felicidade e paz interna sem depender de nenhum
                    fator externo através do desenvolvimento da bodichita.

                </p>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="#">O que é a Igreja Renkai</a></li>
                        <li><a href="#">Nosso Fundador</a></li>
                        <li><a href="#">Nossa Trajetória</a></li>
                        <li><a href="#">Nossa Crença</a></li>
                        <li><a href="#">Nossa Visão</a></li>
                        <li><a href="#">Solos Sagrados</a></li>
                        <li><a href="#">Escritos Divinos</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Endereços</h4>
                    <ul>
                        <li><a href="#">Unidades no Brasil</a></li>
                        <li><a href="#">Unidades no Exterior</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Blog</h4>
                    <h4>Experiências de Fé</h4>
                    <h4>Culto Mensal</h4>
                    <ul>
                        <li><a href="#">Ensinamento do Culto Mensal</a></li>
                        <li><a href="#">Experiência do Culto Mensal</a></li>
                        <li><a href="#">Palestra do Culto Mensal</a></li>
                        <li><a href="#">Agenda Culto Mensal</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Fale Conosco</h4>
                    <ul>
                        <li><a href="#">Fale Conosco do Brasil</a></li>
                        <li><a href="#">Fale Conosco do Exterior</a></li>
                        <li><a href="#">Perguntas Frequentes</a></li>
                        <li><a href="#">Canais Oficiais</a></li>
                        <li><a href="#">Encontre uma Unidade</a></li>
                    </ul>
                    <h4>Política de Privacidade</h4>
                    <h4>Termos de Uso</h4>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>SOBRE A LGPD, ENTRE EM CONTATO: <a href="mailto:dpo@renkai.org.br">dpo@renkai.org.br</a></p>
            <p>&copy; 2025 Renkai Internacional - Todos os direitos
                reservados</p>
            <div class="social-icons">
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i> </a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@renkai.internacional"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </footer>

    <script src="/index.js"></script>
</body>

</html>