<div class="section">
    <h2>Quem somos</h2>
    <p>A Renkai internacional é um movimento Filosófico e Espiritual baseado nos ensinamentos de Buda Shakyamuni
        e no Karandavyuha Sutra. Acreditamos que a união da filosofia com a prática constitui o caminho para a
        libertação do sofrimento, uma vez que somente o conhecimento intelectual se torna limitado, pois a
        verdade está além das palavras e requer filosofia e prática.</p>
    <p>Nosso objetivo é guiar praticantes no caminho da libertação do samsara através de uma metodologia de 33
        níveis representada por mantos, passo a passo, onde você poderá medir seu desenvolvimento e progresso
        filosófico e espiritual.</p>
</div>