<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Renkai Internacional</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    </head>

    <body id="root">
        <header>
            <div class="logo">
                <img src="/logo.png" alt="Renkai Internacional">
                <a href="/"><span>Renkai Internacional</span></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/quem-somos">Sobre nós</a></li>
                    <li><a href="#contact">Contato</a></li>
                    <li><a href="#faq">Ajuda</a></li>
                    <li><a href="#testimonial">Depoimentos</a></li>
                    <li><a href="#philosofy">Nossa filosofia</a></li>
                </ul>
            </nav>
        </header>

        <main>
          <div class="section">
              <h2>Quem somos</h2>
              <p>A Renkai internacional é um movimento Filosófico e Espiritual baseado nos ensinamentos de Buda Shakyamuni e no Karandavyuha Sutra. Acreditamos que a união da filosofia com a prática constitui o caminho para a libertação do sofrimento, uma vez que somente o conhecimento intelectual se torna limitado, pois a verdade está além das palavras e requer filosofia e prática.</p>
              <p>Nosso objetivo é guiar praticantes no caminho da libertação do samsara através de uma metodologia de 33 níveis representada por mantos, passo a passo, onde você poderá medir seu desenvolvimento e progresso filosófico e espiritual.</p>
          </div>
        </main>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-logo">

                    <h3>
                        Renkai Internacional
                    </h3>
                    <p>
                        Torne-se um bodhisattva autorrealizado despertando a
                        felicidade e paz interna sem depender de nenhum
                        fator externo através do desenvolvimento da bodichita.

                    </p>
                </div>
                <div class="footer-links">
                    <div>
                        <h4>Institucional</h4>
                        <ul>
                            <li><a href="#">O que é a Igreja Renkai</a></li>
                            <li><a href="#">Nosso Fundador</a></li>
                            <li><a href="#">Nossa Trajetória</a></li>
                            <li><a href="#">Nossa Crença</a></li>
                            <li><a href="#">Nossa Visão</a></li>
                            <li><a href="#">Solos Sagrados</a></li>
                            <li><a href="#">Escritos Divinos</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Endereços</h4>
                        <ul>
                            <li><a href="#">Unidades no Brasil</a></li>
                            <li><a href="#">Unidades no Exterior</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Blog</h4>
                        <h4>Experiências de Fé</h4>
                        <h4>Culto Mensal</h4>
                        <ul>
                            <li><a href="#">Ensinamento do Culto Mensal</a></li>
                            <li><a href="#">Experiência do Culto Mensal</a></li>
                            <li><a href="#">Palestra do Culto Mensal</a></li>
                            <li><a href="#">Agenda Culto Mensal</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Fale Conosco</h4>
                        <ul>
                            <li><a href="#">Fale Conosco do Brasil</a></li>
                            <li><a href="#">Fale Conosco do Exterior</a></li>
                            <li><a href="#">Perguntas Frequentes</a></li>
                            <li><a href="#">Canais Oficiais</a></li>
                            <li><a href="#">Encontre uma Unidade</a></li>
                        </ul>
                        <h4>Política de Privacidade</h4>
                        <h4>Termos de Uso</h4>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>SOBRE A LGPD, ENTRE EM CONTATO: <a
                        href="mailto:dpo@renkai.org.br">dpo@renkai.org.br</a></p>
                <p>&copy; 2025 Renkai Internacional - Todos os direitos
                    reservados</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i> </a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@renkai.internacional"><i
                            class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </footer>

        <script src="/index.js"></script>
    </body>
</html>